<app-header></app-header>
<div class="row">
  <div class="col-lg-2 col-sm-12 menu-vertical">
    <label>PANEL DE CONTRROL</label>
    <ul class="nav flex-column">
      <li class="nav-item active">
        <a class="nav-link" aria-current="page" href="#">Gestión de usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gestión de cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gestión de clases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Ajustes</a>
      </li>
    </ul>

  </div>
  <div class="col-lg-10 col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gestión de usuarios</li>
      </ol>
    </nav>
    <a href="/" class="btn btn-success">Registrar</a>
    <br /><br />
    <div class="card">
      <div class="card-header home-card-header">
          <ul class="nav nav-tabs card-header-tabs">
              <label style="color:#fff">Datos básicos</label>
          </ul>
      </div>
      <div class="card-body home-card-body">
          <div class="mb-3">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Email</th>
                  <th scope="col">Tipo Usuario</th>
                  <th scope="col">Fecha Ingreso</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Rocio</th>
                  <td>Suarez</td>
                  <td>rocio@gmail.com</td>
                  <td>Profesor</td>
                  <td>06/03/2023</td>
                  <td>Activo</td>
                  <td><a href="">Editar</a></td>
                </tr>
                <tr>
                  <th scope="row">Rocio</th>
                  <td>Suarez</td>
                  <td>rocio@gmail.com</td>
                  <td>Profesor</td>
                  <td>06/03/2023</td>
                  <td>Activo</td>
                  <td><a href="">Editar</a></td>
                </tr>
                <tr>
                  <th scope="row">Rocio</th>
                  <td>Suarez</td>
                  <td>rocio@gmail.com</td>
                  <td>Profesor</td>
                  <td>06/03/2023</td>
                  <td>Activo</td>
                  <td><a href="">Editar</a></td>
                </tr>
              </tbody>
            </table>
          </div>

      </div>
  </div>
  </div>

</div>
<br />
<app-footer></app-footer>
