<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa fa-calendar" aria-hidden="true"></i>
      <span> Planeador web</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Email" aria-label="Search">
        <input class="form-control me-2" type="search" placeholder="Contraseña" aria-label="Search">
        <button type="button" class="btn btn-warning">Ingresar</button>

      </form>
    </div>
  </div>
</nav>
<br>
<div class="row">
  <div class="col-lg-7 col-sm-12">

    <img src="../assets/teacher-class.png" class="img-fluid" alt="...">

  </div>
  <div class="col-lg-5 col-sm-12">
    <div class="card col-lg-8 register" >
      <div class="card-body">
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-12 col-md-8 mx-auto">
              <h1 class="fw-light">Crear una cuenta</h1>
            </div>
          </div>
          <div class="row py-5">
            <form action="home.html">
              <div class="mb-3">
                <input type="nombre" class="form-control" id="exampleInputNombre" aria-describedby="nombreHelp"
                  placeholder="Nombre">
              </div>
              <div class="mb-3">
                <input type="apellido" class="form-control" id="exampleInputApellido" aria-describedby="apellidoHelp"
                  placeholder="Apellido">
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Email">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-warning">Registrarse</button>
                <div class="row py-5 justify-content-between align-items-center">
                  <small class="">Al registrarse, acepta los <a href="#">Términos de servicio</a> y la <a
                      href="#">Política de privacidad</a> </small>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>

  </div>

</div>



<br/>
<app-footer></app-footer>
