<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa fa-calendar" aria-hidden="true"></i>
      <span> Planeador web</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Email" aria-label="Search">
        <input class="form-control me-2" type="search" placeholder="Contraseña" aria-label="Search">
        <button type="button" class="btn btn-warning">Ingresar</button>

      </form>
    </div>
  </div>
</nav>
