<app-header></app-header>
<br />
<nav>
  <ul>
    <li><a href="users"><i class="fa fa-users" aria-hidden="true"></i>
        <span>Gestion de usuarios</span></a></li>
    <li><a href="courses"><i class="fa fa-building" aria-hidden="true"></i>
        <span>Gestion de cursos</span></a></li>
    <li><a href="class"><i class="fa fa-book" aria-hidden="true"></i>
        <span>Gestion de clases</span></a></li>
    <li><a href="settings"><i class="fa fa-sliders" aria-hidden="true"></i>
        <span>Ajustes</span></a></li>
  </ul>
</nav>
<br>
<app-footer></app-footer>
