<app-header></app-header>
<div class="row">
  <div class="col-lg-2 col-sm-12 menu-vertical">
    <label>PANEL DE CONTRROL</label>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="users">Gestión de usuarios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="courses">Gestión de cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="class">Gestión de clases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="settings">Ajustes</a>
      </li>
    </ul>

  </div>
  <div class="col-lg-10 col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gestión de cursos</li>
      </ol>
    </nav>
    <br /><br />
    <div class="card">
      <div class="card-header home-card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <label style="color:#fff">Listado de cursos</label>
        </ul>
      </div>
      <div class="card-body home-card-body">
        <div class="mb-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">6</th>
                <td>Sexto</td>
                <td>4</td>
                <td>06/03/2023</td>
                <td>Activo</td>
                <td><a href="">Editar</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Septimo</td>
                <td>3</td>
                <td>06/03/2023</td>
                <td>Activo</td>
                <td><a href="">Editar</a></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Octavo</td>
                <td>3</td>
                <td>06/03/2023</td>
                <td>Activo</td>
                <td><a href="">Editar</a></td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Noveno</td>
                <td>3</td>
                <td>06/03/2023</td>
                <td>Activo</td>
                <td><a href="">Editar</a></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Decimo</td>
                <td>3</td>
                <td>06/03/2023</td>
                <td>Activo</td>
                <td><a href="">Editar</a></td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>Once</td>
                <td>3</td>
                <td>06/03/2023</td>
                <td>Activo</td>
                <td><a href="">Editar</a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>

<br />
<app-footer></app-footer>
