name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 0
          node-version: 16.x
      - name: Instalar dependencias
        run: npm install
      - name: Ejecutar pruebas con Angular CLI
        run: npm run test -- --no-watch --no-progress
      - name: Generar informe de cobertura
        run: |
          npx ng test -- --no-watch --code-coverage
          mkdir coverage
          mv coverage/lcov-report/* coverage
        continue-on-error: true
      - name: Publicar informe de cobertura
        uses: actions/upload-artifact@v1
        with:
          name: coverage
          path: coverage
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
